.banner {
    display: flex;
    align-items: center;
    padding: 60px 0;
    background-color: var(--primary-bg-color);
    color: #fff;
    justify-content: space-between;
    max-width: 1250px;
    margin: auto;
}

.containerMain {
    width: 100%;
    background-color: var(--primary-bg-color);
}

.textContainer {
    width: 48%;
    text-align: left;
    align-self: center;
    justify-self: center;
    height: max-content;
}

.title {
    font-size: 64px !important;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.subtitle {
    font-size: 22px;
    margin-bottom: 1.5rem;
    font-weight: 400;
    color: #ffffff;
    line-height: 38px;
}

.searchContainer {
    display: flex;
    align-items: center;
    width: 83%;
    border-radius: 4px;
    margin-top: 9%;
}

.searchContainer button {
    padding: 8px 40px;
    background-color: white;
    color: var(--primary-bg-color);
    border-radius: 5px;
    border: 1px solid white;
    font-size: 18px;
}

.update {
    font-size: 13px;
    margin-top: 8%;
}

.imageContainer {
    width: 40% !important;
    margin-top: 2rem;
}

.faqImage {
    width: 100%;
    height: auto;
}

/*  */
.containerMain1 {
    width: 100%;
}

.integrationSection {
    /* width: 90%; */
    max-width: 1250px;
    margin: auto;
    padding: 2rem 0;
}

.Stitle {
    font-size: 36px;
    margin: 2% 0;
}

.Sdescription {
    line-height: 28px;
    letter-spacing: 1px;
}

.buttons {
    display: flex;
    gap: 1rem;
    margin: 3% 0;
}


.sectionContent {
    margin-top: 2rem;
}

.section.normal {
    margin-bottom: 3rem;

}


.content {
    width: 50%;
}

.image {
    width: 35%;
    text-align: center;
}

.Cimage {
    width: 100% !important;
    height: auto;
    border-radius: 8px;
}



.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
}

.card {
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 1.8rem 1.7rem 3rem;
    text-align: center;
    width: calc(33% - 2rem);
    transition: transform 0.3s, box-shadow 0.3s, background-color .2s;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    background-color: var(--primary-bg-color);
}

.card:hover h3 {
    color: white;
}

.card:hover p {
    color: white;
}

.card:hover .icon {
    color: white;
}

.iconContainer {
    background-color: #bcd9d5;
    border-radius: 20px;
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 1rem;
}

.icon {
    font-size: 94px;
    color: var(--primary-bg-color);
}

.card h3 {
    margin-bottom: 0.5rem;
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
}

.card p {
    color: #1E1E1E;
    font-size: 14px;
    line-height: 1.5;
}

.bookDemo,
.seePricing {
    margin-right: 1rem;
    padding: .75rem 2rem;
    background-color: var(--primary-bg-color);
    color: #fff;
    border: 1px solid var(--primary-bg-color);
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.seePricing {
    background-color: transparent;
    border: 1px solid var(--primary-bg-color);
    color: var(--primary-bg-color);
}

.seePricing:hover {
    background-color: var(--primary-bg-color);
    color: white;
}

.bookDemo:hover {
    background-color: transparent;
    color: var(--primary-bg-color);
    border: 1px solid var(--primary-bg-color);
}

/*  */


.section {
    margin-bottom: 3rem;
}

.section.normal .contentRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 1rem;
    flex-direction: row;
}

.section.zigzag .contentRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 1rem;
    flex-direction: row-reverse;
}

.tabButton {
    padding: 0.5rem 1rem;
    border: 1px solid #909090;
    background-color: transparent;
    color: #666;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s;
}

.tabButton.active {
    background-color: var(--primary-bg-color);
    color: white;
    border-color: #2a8678;
}

.sectionContent {
    margin-top: 1rem;
    border-radius: 8px;
}


/* faqs */
.faqMain {
    padding: 10px 0;
    max-width: 1250px;
    margin: auto;
}

.faqContainer {
    width: 100%;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    margin-bottom: 3%;
}

.fatitle {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.faqItem {
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px 15px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.faqItem.active {
    background-color: #f8fafc;
}

.questionContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question {
    font-size: 1rem;
    font-weight: 600;
    color: #333;
}

.faicon {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4a4a4a;
}

.answer {
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 8px;
    color: #666;
    width: 85%;
}


/* up to date */

.contactMainn {
    padding: 52px 0;
    max-width: 1250px;
    margin: auto;
}

.contactBottom {
    background-color: var(--border-color);
    padding: 2rem;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.contLeft h2 {
    font-size: 30px;
}

.contLeft p {
    margin-top: 10px;
}

.contRight {
    border: 1px solid;
    border-radius: 5px;
    padding-left: 1rem;
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.contRight input {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    color: white;
}

.contRight input::placeholder {
    color: white !important;
    font-weight: 400;
}

.contRight button {
    background-color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #2a8678;
}



@media (max-width: 768px) {
    .faqContainer {
        padding: 10px;
    }

    .fatitle {
        font-size: 1.5rem;
    }

    .question {
        font-size: 0.9rem;
    }

    .answer {
        font-size: 0.85rem;
    }
}

@media (max-width:1650px) {
    .content .Sdescription {
        font-size: 18px;
        line-height: 30px;
        margin-top: 4%;
    }

    .image {
        width: 30%;
    }

    .content {
        width: 55%;
    }

}

@media (max-width:1510px) {
    .image {
        width: 35%;
    }
}

@media (max-width:1400px) {
    .banner {
        padding: 60px 5%;
    }

    .integrationSection {
        padding: 2rem 5%;
    }

    .contactMainn {
        padding: 52px 5%;
    }

    .faqMain {
        padding: 10px 5%;
    }
}

@media (max-width:1330px) {
    .Sdescription {
        font-size: 17px;
        line-height: 27px !important;
        margin: 4% 0;
    }
}

@media (max-width:1240px) {
    .image {
        width: 38%;
    }

    .content {
        width: 55%;
    }

}



@media (max-width:1210px) {
    .testimonialSection {
        border: none;
    }

    .faqContainer {
        border: none;
    }

    .filterButton {
        padding: 8px 15px;
    }
}


@media (max-width:1180px) {
    .textContainer {
        max-width: none;
        width: 50%;
    }

    .imageContainer {
        max-width: none;
        width: 40%;
    }

    .title {
        font-size: 50px !important;
    }


    .faqContainer {
        padding-left: 0;
        padding-right: 0;
    }



    .card {
        width: calc(50% - 1.5rem);
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .section.normal .contentRow {
        flex-direction: column-reverse;
    }

    .content,
    .image {
        width: 100%;
    }

    .section.zigzag .contentRow {
        flex-direction: column-reverse !important;
    }

    .image img {
        max-width: 100%;
        height: auto;
    }

}





@media (max-width:1000px) {
    .textContainer {
        width: 50%;
    }

    .imageContainer {
        width: 45%;
    }

    .banner {
        padding-left: 40px;
    }

    .faqmain {
        flex-direction: column;
    }

    .contactBottom {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contRight {
        margin-top: 20px;
        width: 60%;
    }

}


@media (max-width:900px) {
    .imageContainer {
        width: 50%;
    }

    .textContainer {
        width: 50%;
    }

}

@media (max-width:850px) {
    .imageContainer {
        display: none;
    }

    .textContainer {
        width: 100%;
        padding: 5% 0;
    }

}

@media (max-width:750px) {

    .card {
        width: calc(98%);
    }

    .iconContainer {
        width: 100px;
        height: 100px;
    }

    .icon {
        font-size: 70px;
    }

    .card h3 {
        font-size: 20px;
    }

    .Sdescription {
        font-size: 16px !important;
    }
}

@media (max-width: 650px) {
    .banner {
        padding-left: 20px;
    }

    .title {
        font-size: 45px !important;
    }



    .contactMainn {
        padding: 20px;
    }


}

@media (max-width: 700px) {
    .contactBottom {
        justify-content: flex-start;
        align-items: flex-start;
    }

}

@media (max-width: 600px) {

    .buttons {
        flex-wrap: wrap;
        gap: 8px;
    }

    .buttons button {
        padding: 5px 8px;
        font-size: 11px;
    }
}

@media (max-width: 500px) {

    .subtitle {
        font-size: 15px;
    }

    .faqContainer {
        padding-left: 0;
        padding-right: 0;
    }

    .banner {
        padding-right: 20px;
    }

    .searchContainer {
        width: 100%;
    }

    .sectionWrapper {
        padding-left: 0px;
        padding-right: 0px;
    }

    .buttonSecondary {
        padding: 0.75rem 25px;
    }

    .buttonPrimary {
        padding: 0.75rem 25px;
    }

    .contactBottom {
        padding: 10px;
    }

    .contRight {
        border: none;
        display: flex;
        flex-direction: column !important;
        padding: 0;
        width: 100%;
        justify-content: space-between;
    }

    .contRight input {
        border: 1px solid white;
        padding: 10px;
        border-radius: 5px;
        width: 100%;
        margin-bottom: 20px
    }
}