.banner {
    display: flex;
    align-items: center;
    padding:45px 0 55px 60px;
    background-color: #1d7f72; 
    color: #fff;
    justify-content: space-between;
  }
  
  .textContainer {
    max-width: 580px;
    text-align: left;
    align-self: center;
    justify-self: center;
    height: max-content;
  }
  
  .title {
    font-size: 64px !important;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .subtitle {
    font-size: 22px;
    margin-bottom: 1.5rem;
    font-weight: 400;
    color: #ffffff; 
    line-height:38px;
  }
  
  .searchContainer {
    display: flex;
    align-items: center;
    width: 83%;
    border-radius: 4px;
   margin-top: 9%;
  }
.searchContainer button{
    padding: 8px 40px;
    background-color: white;
    color: #1d7f72;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 18px;
}
  .update{
    font-size: 13px;
    margin-top: 8%;
  }
  .imageContainer {
    max-width: 300px;
    width: 100%;
    margin-top: 2rem;
  }
  
  .faqImage {
    width: 100%;
    height: auto;
  }

  /*  */
  .sectionWrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem; 
    padding: 2rem;
  }
  
  .industryCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    background-color: #fff;
    border-radius: 8px;
    padding: 1.5rem;
  }

  
  .icon {
    color: #218172;
    margin-bottom: 20px;
    display: flex ;
    align-items: center ;
  }
  .iconDiv {
    border: 1px solid #bcd9d5;
    height: 45px;
    width: 45px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    background-color: #bcd9d5;
    font-size: 30px;
  }
  
  
  .rowReverse {
    flex-direction: row-reverse; 
  }
  
  .imageWrapper {
    flex: 1;
    max-width: 40%; 
  }
  
  .industryImage {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
  }
  
  .textWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .sectionHeading {
    font-size: 35px;
    font-weight: 700;
    color: #1E1E1E;
    margin-left: 10px;
  }
  
  .sectionSubheading {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: #555;
    word-spacing: 4px;
    line-height: 25px;
  }
  
  .buttonsWrapper {
    display: flex;
    gap: 1rem;
    margin-top: 2%;
  }
  
  .buttonPrimary {
    background-color: #218172;
    color: white;
    border: 1px solid #218172;
    padding: 0.75rem 40px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .buttonPrimary:hover {
    background-color: white;
    border: 1px solid #218172;
    color: #218172;
  }
  
  .buttonSecondary {
    background-color: white;
    color: #218172;
    border: 1px solid #218172;
    padding: 0.75rem 40px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .buttonSecondary:hover {
    background-color: #218172;
    color: white;
  }
  
  
  /* faqs */
.faqMain{
  padding: 10px 62px;
}
.faqContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #3da59b;
  border-radius: 8px;
  margin-bottom: 3%;
}

.fatitle {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.faqItem {
  background-color: #fff;
  border: 1px solid #3da59b;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px 15px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.faqItem.active {
  background-color: #f8fafc;
}

.questionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

.faicon {
  font-size: 1.5rem;
  font-weight: bold;
  color: #4a4a4a;
}

.answer {
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 8px;
  color: #666;
  width: 85%;
}


  /* up to date */
  
  .contactMainn{
    padding: 52px;
  }
  .contactBottom{
    border: 1px solid;
    background-color: #2a8678;
    padding: 2rem;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
  }
  .contLeft h2{
   font-size: 30px;
  }
  .contLeft p{
    margin-top: 10px;
  }
  .contRight{
    border: 1px solid white;
    border-radius: 5px;
    padding-left: 1rem;
  }
  .contRight input{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    color: white;
    
}
.contRight input::placeholder{
    color: white !important;
    font-weight: 400;
  }
  .contRight button{
    background-color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #2a8678;
  }
  

@media (max-width: 768px) {
  .faqContainer {
    padding: 10px;
  }

  .fatitle {
    font-size: 1.5rem;
  }

  .question {
    font-size: 0.9rem;
  }

  .answer {
    font-size: 0.85rem;
  }
}

@media (max-width:1210px) {
  .testimonialSection{
    border: none;
  }
  .faqContainer{
    border: none;
  }
  .filterButton{
    padding: 8px 15px;
  }
  }


  
  /* Responsive Styles */
  @media (max-width: 950px) {
    .industryCard {
      flex-direction: column;
    }
  
    .rowReverse {
      flex-direction: column; 
    }
  
    .imageWrapper {
      max-width: 100%;
    }
  
  }
  
  

  @media (max-width:1180px) {

 
    }
    @media (max-width:1000px) {
    .textContainer{
     width: 50%;
    }
    .imageContainer{
    width: 40%;
    }
    .banner{
      padding-left: 40px;
    }
    .faqmain{
      flex-direction: column;
    }
    .contactBottom{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .contRight{
      margin-top: 20px;
    }
    }
  @media (max-width:900px) {
.imageContainer{
    width: 35%;
}
.textContainer{
    width: 60%;
}


  }
 
@media (max-width: 650px) {
.banner{
  padding-left: 20px;
}
.title{
  font-size: 45px !important;
}
.faqMain{
  padding: 20px;
}
.contactMainn{
  padding: 20px;
}
}
@media (max-width: 700px) {
  .imageContainer{
    display: none;
  }
  .textContainer{
    width: 100%;
    padding: 5% 0;
  }
  .contactBottom{
    justify-content: flex-start;
    align-items: flex-start;
  }
  
}

@media (max-width: 500px) {

.subtitle{
  font-size: 15px;
}
.faqContainer{
  padding-left: 0;
  padding-right: 0;
}
.banner{
  padding-right: 20px;
}
.searchContainer{
  width: 100% ;
}
.sectionWrapper{
    padding-left: 0px;
    padding-right: 0px;
}
.buttonSecondary{
    padding: 0.75rem 25px;
}
.buttonPrimary{
    padding: 0.75rem 25px;
}
.contactBottom{
  padding: 10px;
}

.contRight{
  border: none;
  display: flex;
  flex-direction: column !important;
  padding: 0;
  width: 100%;
  justify-content: space-between;
}
.contRight input{
  border: 1px solid white;
  padding: 10px ;
  border-radius: 5px;
  width:100%;
  margin-bottom: 20px
}
}
