.mainhome {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 1% 0 5%;
}

.cont_r {
  width: 52%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_im_n {
  width: 105%;
  height: auto !important;
}

.contntlft {
  width: 48%;
  }

.bannerH1 {
  font-size: 36px;
  color: var(--text-color);
}

.para {
  font-size: 22px;
  margin-top: 4%;
  line-height: 36px;
}

.btnDiv {
  margin-top: 8%;
}

.btnDiv button {
  padding: 10px 30px;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: all .3s;

}

.bannerBtn2 {
  margin-left: 30px;
  border: none;
  background-color: var(--primary-bg-color);
  color: white;
  border: 1px solid var(--primary-bg-color);
}

.bannerBtn {
  margin-left: 30px;
  border: 1px solid var(--primary-bg-color);
  background-color: transparent;
  color: var(--primary-bg-color);
  margin: 0;
}

.bannerBtn:hover {
  background-color: var(--primary-bg-color);
  color: white;
}

.bannerBtn2:hover {
  border: 1px solid var(--primary-bg-color);
  background-color: transparent;
  color: var(--primary-bg-color);
}

/* sec2 */

.container {
  background-color: var(--primary-bg-color);
  color: #fff;
  padding: 50px 5% 10px 5%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 6%;
}

.container4 {
  flex-direction: row-reverse;
}

.header {
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 30%;
}

.header h2 {
  font-size: 36px;
  margin: 0;
}

.header p {
  margin: 15px 0;
  font-size: 16px;
  line-height: 1.5;
  color: #e0f7f1;
  text-align: left;
}

.pricingButton {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  transition: all 0.3s ease;
  margin-top: 2%;
}

.pricingButton:hover {
  background-color: #fff;
  color: var(--primary-bg-color);
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px !important;
  width: 68%;
}

.card {
  background-color: #fff;
  color: #333;
  padding: 20px 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  height: max-content;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
}

.card:hover .iconDiv {
  background-color: white;
  border-color: var(--primary-bg-color);
}

.icon {
  width: 100%;
  color: var(--primary-bg-color);
  margin-bottom: 15px;
  display: flex !important;
  align-items: center;
}

.card h3 {
  color: var(--primary-bg-color);
  font-size: 24px;
  font-weight: 500;
  margin-left: 10px;
  width: max-content;
}

.card p {
  margin-top: 2%;
  font-size: 10px;
  line-height: 1rem;
  color: var(--text-color);
  text-align: left;
}

.learnMore {
  margin-top: auto;
  color: var(--primary-bg-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  display: inline-block;
  margin-top: 15px;
}

.learnMore:hover {
  text-decoration: underline;
}

.iconDiv {
  border: 1px solid #bcd9d5;
  height: 68px;
  width: 68px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  background-color: #bcd9d5;
  font-size: 40px !important;
  color: var(--primary-bg-color) !important;
}

/* sec3 */

.benefitsSection {
  width: 90%;
  margin: auto;
  padding: 5% 0;
}

.containerS {
  /* max-width: 1200px; */
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-between;
  margin-bottom: 40px;
}

.imageWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
}

.imageWrapper::after {
  content: '';
  position: absolute;
  z-index: 1;
  height: 50%;
  min-width: 450px;
  top: 60%;
  left: calc(50% - 225px);
  border-radius: 10px;
  background-color: var(--primary-bg-color);
}

.appImage {
  width: 100%;
  max-width: 370px;
  z-index: 3;
  height: auto;
  border-radius: 15px;
  background-color: #7ab3aa;
  padding: 5px;
}

.textWrapper {
  flex: 1;
  text-align: left;
  padding-left: 20px;
}

.subtitle {
  color: #00a99d;
  font-weight: 400;
  font-size: 16px;
}

.title {
  font-size: 40px;
  font-weight: 700;
  margin: 10px 0 0 0;
  line-height: 50px;
}

.description {
  font-size: 16px;
  color: #252A2A;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.primaryButton {
  padding: 10px 25px;
  background-color: var(--primary-bg-color);
  color: #fff;
  border: 2px solid var(--primary-bg-color);
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s;
}

.primaryButton:hover {
  background-color: transparent;
  color: var(--primary-bg-color);
  border: 2px solid var(--primary-bg-color);
}

.secondaryButton {
  padding: 10px 25px;
  background-color: transparent;
  color: var(--primary-bg-color);
  border: 2px solid var(--primary-bg-color);
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s;
}

.secondaryButton:hover {
  background-color: var(--primary-bg-color);
  color: white;
}

.benefitsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  margin-bottom: 50px;
  margin-top: 8%;
}

.benefitItem {
  padding: 15px;
  background-color: #e8f5f4;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-weight: 400;
  color: #333;
}

.checkIcon {
  color: white;
  height: 20px !important;
  width: 20px !important;
  background-color: var(--primary-bg-color);
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featuresSection {
  margin-top: 50px;
}

.featuresMain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.featuresHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 40%;
}

.featuresSubtitle {
  color: #00a99d;
  font-weight: 400;
  margin-right: 10px;
}

.featuresTitle {
  font-size: 2rem;
  font-weight: bold;
}

.featuresDescription {
  font-size: 16px;
  color: #252A2A;
  width: 50%;
}

.featuresGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
  margin-top: 4%;
}

.featureItem {
  padding: 10px 0;
  background-color: transparent;
  border: 1px solid #cde3df;
  border-radius: 10px;
  text-align: center;
  font-weight: 400;
  display: flex;
  align-items: top;
  justify-content: center;
  color: #cde3df;
}

.featureItem span {
  margin: 0;
}

.featureItems {
  color: #cde3df;
  margin-right: 10px;
}

.icon {
  color: #00a99d;
  font-size: 1.2rem;
  margin-bottom: 5px;
  display: block;
}

.activeFeature {
  background-color: var(--primary-bg-color);
  color: #fff !important;

}

.activeFeatures {
  color: #fff !important;
}

/* testimonial */

.testimonialSection {
  width: 90%;
  padding: 30px 20px;
  text-align: center;
  border: 1px solid var(--primary-bg-color);
  border-radius: 10px;
  margin: 3% auto;
  background-color: #fff;
}

.subtitle {
  color: #00a99d;
  font-weight: 400;
  margin-bottom: 5px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.slider {
  overflow: hidden;
  max-width: 100%;
}

.testimonialContainer {
  display: flex;
  transition: transform 0.3s ease-in-out !important;
  /* gap: 10px; */
  /* justify-content: space-between; */
  /* gap:calc(33.333% - 30.334%); */
}



.testimonial {
  flex: 0 0 30.333%;
  max-width: 30.333%;
  box-sizing: border-box;
  padding: 20px;
  margin: 0 calc(33.333% - 31.833%);
  border: 1px solid #00a99d;
  border-radius: 10px;
  transition: all 1s; 
  color: var(--primary-bg-color) ;
}

.centerCard {
  background-color: var(--primary-bg-color) !important;
  color: white !important;
} 

.centerCard p {
  color: white;
}



.text {
  font-size: 13px;
  color: var(--primary-bg-color);
  margin-bottom: 20px;
  text-align: left;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #c4c4c4;
}

.name {
  font-weight: bold;
  color:var(--primary-bg-color);
}

.position {
  font-size: 0.8rem;
  color: var(--primary-bg-color);
}

.quoteIcon {
  font-size: 2.5rem;
  color: #7ab3aa;
  margin-left: auto;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}

.navButton {
  background: none;
  border: none;
  height: 30px;
  width: 30px;
  font-size: 1.5rem;
  color: var(--primary-bg-color);
  cursor: pointer;
  border: 1px solid var(--primary-bg-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageIndicator {
  font-size: 1rem;
  font-weight: bold;
  color: var(--primary-bg-color);
}



/* faqs */
.faqContainer {
  width: 90% ;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid var(--primary-bg-color);
  border-radius: 8px;
  margin-bottom: 3%;
}

.fatitle {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.faqItem {
  background-color: #fff;
  border: 1px solid var(--primary-bg-color);
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px 15px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.faqItem.active {
  background-color: #f8fafc;
}

.questionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

.faicon {
  font-size: 1.5rem;
  font-weight: bold;
  color: #4a4a4a;
}

.answer {
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 8px;
  color: #666;
  width: 85%;
}


@media (max-width: 768px) {
  .faqContainer {
    padding: 10px;
  }

  .fatitle {
    font-size: 1.5rem;
  }

  .question {
    font-size: 0.9rem;
  }

  .answer {
    font-size: 0.85rem;
  }
}

@media (max-width: 900px) {
  .testimonialContainer {
    display: flex;
  }

  .testimonial {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0 auto;
  }
}

.centerCard {
  background-color: #00a99d;
  color: white !important;
}

.centerCard p {
  color: white;
}

.slider {
  overflow: hidden;
  width: 100%;
}

.testimonialContainer {
  display: flex;
  transition: transform 0.5s ease;
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*  */

@media (max-width:1260px) {
  .card {
    height: max-content;
  }
  
}
@media (max-width:1658px) {
  .mainhome{
    padding: 0 2% 0 7%;
  }

}
@media (max-width:1458px) {
  .mainhome{
    padding: 0 2% 0 6%;
  }
}
@media (max-width:1210px) {
  .testimonialSection{
    border: none;
    padding-left: 0;
    padding-right: 0;
  }
  .faqContainer{
    border: none;
    padding-left: 0;
    padding-right: 0;
  }
  .mainhome{
    padding: 0 2% 0 4% ;
  }
}

@media (max-width:1110px) {
  .container {
    flex-direction: column;
    height: max-content;
  }
  
  .cardsContainer {
    width: 100%;
    align-self: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  
  .card {
    height: max-content;
  }
  
  .header {
    width: 100%;
    align-self: center;
    align-items: center;
  }
  
  .row {
    flex-direction: column;
  }
  
  .appImage {
    max-width: none;
    width: 100%;
  }
  .imageWrapper{
    margin-top: 5%;
  }
  .textWrapper {
    margin-top: 5%;
  }
  
  .imageWrapper::after {
    display: none;
  }
}

@media (max-width:1030px) {
  .cont_r {
    display: none;
  }

  .mainhome {
    padding: 30px 5%;
  }

  .contntlft {
    width: 100%;
  }
  .featuresMain{
    flex-direction: column;
    align-items: flex-start;
  }
  .featuresHeader{
    width: 100%;
  }
  .featuresDescription{
    width: 90%;
    margin-top: 2%;
  }
  .featuresTitle{
    margin-top: 2%;
  }
}

@media (max-width:1000px) {
  .featuresGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 900px) {
  .centerCard {
    background-color: #e8f5f4;
    color: #333 !important;
  }

  .centerCard p {
    color: #333;
  }
}
@media (max-width:850px) {

  .benefitItem,
  .featureItem,
  .featureItems {
    font-size: 13px;
  }
  
  .featureItem {
    align-items: center;
    padding: 5px;
  }
}
@media (max-width:800px) {
.benefitsGrid{
  grid-template-columns: repeat(2, 1fr);
}
}
@media (max-width:620px) {
.featuresGrid{
  margin-top: 6%;
  grid-template-columns: repeat(3, 1fr);
}
}
@media (max-width:500px) {
.featuresGrid{
  grid-template-columns: repeat(2, 1fr);
}
.benefitsGrid{
  grid-template-columns: repeat(1, 1fr);
}

.textWrapper{
  padding-left: 0;
}

.container{
  padding: 50px 5%;
}
}

@media (max-width:430px) {
  .header {
    align-items: flex-start;
  }

  .header h2 {
    font-size: 25px;
  }

  .card h3 {
    font-size: 20px;
  }

  .bannerH1 {
    font-size: 28px;
  }

  .btnDiv button {
    padding: 10px 25px;
  }

  .bannerBtn2 {
    margin-left: 10px;
  }
}
